@model BookModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="Isbn"></label>
                <input asp-for="Isbn" class="form-control" placeholder="9 123 321...">
                <span asp-validation-for="Isbn" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" placeholder="Заглавие...">
                <span asp-validation-for="Title" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenreId"></label>
                <select asp-for="GenreId" class="form-control">
                    @foreach (var genre in Model.Genres)
                    {
                        <option value="@genre.Id">@genre.Name</option>
                    }
                </select>
                <span asp-validation-for="GenreId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorId"></label>
                <select asp-for="AuthorId" class="form-control">
                    @foreach (var author in Model.Authors)
                    {
                        <option value="@author.Id">@author.Name</option>
                    }
                </select>
                <span asp-validation-for="AuthorId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublisherId"></label>
                <select asp-for="PublisherId" class="form-control">
                    @foreach (var publisher in Model.Publishers)
                    {
                        <option value="@publisher.Id">@publisher.Name</option>
                    }
                </select>
                <span asp-validation-for="PublisherId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity"></label>
                <input asp-for="Quantity" class="form-control" placeholder="Количество...">
                <span asp-validation-for="Quantity" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="4" class="form-control" placeholder="Описание..."></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" placeholder="Линк към корицата...">
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control">
                <span asp-validation-for="Price" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateReceived"></label>
                <input asp-for="DateReceived" class="form-control">
                <span asp-validation-for="DateReceived" class="small text-danger"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Запази" />
            </div>
        </form>
    </div>
</div>
