@model BookServiceModel

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Корица">
        <div class="card-body text-center">
            <h4>@Model.Title</h4>
            <h6>
                Цена:
                <b>@String.Format("{0:f2}", Model.Price) BGN</b>
            </h6>
            <h6>(@(Model.IsRented ? "Наета" : "Не сте я наели"))</h6>
            <h6>Количество: <b>@Model.Quantity)</b></h6>
            <br />
            <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-success">Подробности</a>
            @if (this.User.Identity.IsAuthenticated)
            {
                    <a asp-controller="Book" asp-action="Edit" asp-route-id="@Model.Id"
               class="btn btn-warning">Редактирай</a>
                    <a asp-controller="Book" asp-action="Delete" asp-route-id="@Model.Id"
               class="btn btn-danger">Изтрий</a>
                    <p></p>
                @if(Model.Quantity > 0)
                {
                    @if (!Model.IsRented)
                    {
                                        <form class="input-group-sm" asp-controller="Book"
                  asp-action="Rent" asp-route-id="@Model.Id" method="post">
                                            <input class="btn btn-primary" type="submit" value="Наеми" />
                                        </form>
                    }
                    else
                    {
                                        <form asp-controller="Book" asp-action="Return"
                  asp-route-id="@Model.Id" method="post">
                                            <input class="btn btn-primary" type="submit" value="Върни" />
                                        </form>
                    }
                }
                else
                {
                            <p>Изчерпано количество</p>
                }
            }
        </div>
    </div>
</div>
