@using LibraryManagementSystem.Models
@model LoginViewModel

@{
    ViewData["Title"] = "Вписване";
}
<body class="bg-image"
      style="background-image: url('https://raw.githubusercontent.com/dackel96/ShuInkWeb/main/ShuInkWeb/ShuInkWeb/wwwroot/images/Abstract-backgroundBLur.jpg');
            background-attachment:fixed;">
<div class="container-fluid ps-md-0">
  <div class="row g-0">
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
            <h1 class="text-center">@ViewData["Title"]</h1>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="text-center mb-3">
                    <label asp-for="@Model.UserName" class="form-label"></label>
                    <input asp-for="@Model.UserName" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                </div>
                <div class="text-center mb-3">
                    <label asp-for="@Model.Password" class="form-label"></label>
                    <input asp-for="@Model.Password" type="password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
                <div class="text-center">
                    <button id="login-submit" type="submit" class="btn btn-primary">Вход</button>
                </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>